<html>
  <head></head>
<body>
  <div style="text-align: center; width: 100%" width="100%">
    <table width="100%" height="100%" style="min-width: 348px; margin:auto;" border="0" cellspacing="0" cellpadding="0">
      <tr height="32px"></tr>
      <tr align="center">
        <td width="32px"></td>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" style="max-width: 600px;">
            <tr height="16"></tr>
            <tr>
              <td>
                <table bgcolor="#658" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #E0E0E0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; background:#658">
                  <tr>
                    <td height="72px" colspan="3"></td>
                  </tr>
                  <tr>
                    <td width="32px"></td>
                    <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 24px; color: #FFFFFF; line-height: 1.25;">My appointment schedule link!</td>
                    <td width="32px"></td>
                  </tr>
                  <tr>
                    <td height="18px" colspan="3"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #F0F0F0; border-top: 0;background: #FFFFFF">
                  <tr>
                    <td height="18px" colspan="3"></td>
                  </tr>
                  <tr>
                    <td width="32px"></td>
                    <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: #202020; line-height: 1.5;">
                      <p>You receive this email becasue, you have just requested for appointment schedule link : <a href="{{link}}">{{link}}</a></p>
                      <p>Just click on this link and you will be redirected to the appointment schedule.</p>
                    </td>
                    <td width="10px"></td>
                  </tr>
                  <tr>
                    <td height="18px" colspan="3"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #F0F0F0; border-bottom: 1px solid #C0C0C0; background: #FAFAFA; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                  <tr height="16px">
                    <td width="32px" rowspan="3"></td>
                    <td></td>
                    <td width="32px" rowspan="3"></td>
                  </tr>
                  <tr>
                    <td>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: #202020; line-height: 1.5;">
                            <p>Hello,</p>
                            <p>If you have any query just about the application please email me on {{email}} </p>
                            <p>You will be replied as soon as your query is solved and fulfiled.</p>
                          </td>
                        </tr>
                        <tr height="32px"></tr>
                        <tr>
                          <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: #202020; line-height: 1.5;">
                            <div>Enjoy using appointment shedule application.</div>
                            <div><strong>Team appointment application</strong></div>
                          </td>
                        </tr>
                        <tr height="16px"></tr>
                      </table>
                    </td>
                  </tr>
                  <tr height="32px"></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="max-width: 600px; font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 10px; color: #BCBCBC; line-height: 1.5;">
                <tr>
                  <td>
                    <table style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 10px; color: #666666; line-height: 18px; padding-bottom: 10px">
                      <tr>
                        <td>
                          <p style="direction: ltr; text-align: left">&copy; Appointment Application.</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </td>
            </tr>
          </table>
        </td>
        <td width="32px"></td>
      </tr>
      <tr height="32px"></tr>
    </table>
  </div>
</body>